<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Please Login</title>
  <style>
  input {
    width: 200px;
    margin: 10px;
    padding: 15px 25px;
  }
  button {
    margin: 10px;
    padding: 8px 25px;
    font-size: 18px;
    color: #fff;
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 3px;
    cursor: pointer;
  }
  </style>
</head>

<body>
  <div>
    <form action="/" method="post">
      <div>
        <input type="text" name="user" placeholder="Username">
      </div>
      <div>
        <input type="password" name="pass" placeholder="Password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>

</html>
